<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.upc.mishu">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/mishu_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/mishu_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".ui.activities.RegisterActivity" />
        <activity android:name=".ui.activities.LoginActivity" />
        <activity android:name=".ui.activities.AddPasswordActivity" />
        <activity android:name=".ui.activities.ModifyPssswordActivity"/>
        <activity android:name=".ui.activities.ShowPasswordActivity"
            android:theme="@style/activityTheme"/>
        <activity android:name=".ui.activities.LiscenceActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.MainActivity" />

        <meta-data
            android:name="DATABASE"
            android:value="mishu.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="edu.upc.mishu.dto" />
        <service
            android:name=".services.GeneratorTileService"
            android:label="@string/navigation_item3"
            android:icon="@drawable/create_navigation"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data android:name="android.service.quicksettings.ACTIVE_TILE"
                  android:value="true" />
        </service>
    </application>

</manifest>